#effect {
width: 100px;
height: 100px;
border: 1px solid black;
}
.highlight {
background-color: red;
width: 200px !important;
}
.shrink {
background-color: gray;
width: 50px !important;
}
.font{
color: red;
font-size: 20px;
}
.yellow{
background-color: yellow;
}
.progress{
background-color: blue;
width: 0px;
height: 40px;
}